{{define "admin/sidebar.html"}}
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <li class="active">
                <a href="/admin/index">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/admin/task">
                    <i class="fa fa-list"></i> <span>任务管理</span>
                </a>
            </li>
            <li>
                <a href="/admin/tran_log/1">
                    <i class="fa fa-user"></i> <span>日志管理</span>
                </a>
            </li>
            <li>
                <a href="/admin/profile">
                    <i class="fa fa-user-secret"></i> <span>个人中心</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
{{end}}